{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    {% for failed in app.flashes('failed')|slice(0, 1) %}
        <div class="container mt-4 alert alert-danger">
            {{ failed }}
        </div>
    {% endfor %}
    <div class="container py-4">
        {{ component('person_search', {
            form: form
        }) }}
    </div>
{% endblock %}
