{% extends 'base.html.twig' %}
{% block body %}
    <div class="container py-4">
        {{ component('search_result',{
            search_result: search_result,
            thead: [
                {'name': 'Imię', 'class': 'col-3'},
                {'name': 'Nazwisko', 'class': 'col-3'},
                {'name': 'Data urodzenia', 'class': 'col-2'},
                {'name': 'Data śmierci', 'class': 'col-2'}
            ],
            tbody: [
                {'name': 'person.surname', 'class': 'col-3'},
                {'name': 'person.name', 'class': 'col-3'},
                {'name': 'person.born|date("Y-m-d")', 'class': 'col-2'},
                {'name': 'person.death|date("Y-m-d")', 'class': 'col-2'}
            ],
            page: page,
            limit: limit,
            target: 'app_search',
            type: 'person'
        }) }}
    </div>
{% endblock %}