{% extends 'base.html.twig' %}
{% block body %}
    <div class="container py-4">
        {{ component('search_result',{
            search_result: search_result,
            thead: [
                {'name': 'Imię', 'class': 'col-3'},
                {'name': 'Nazwisko', 'class': 'col-3'},
                {'name': 'Data urodzenia', 'class': 'col-2'},
                {'name': 'Data śmierci', 'class': 'col-2'}
            ],
            tbody: [
                {'name': 'surname', 'class': 'col-3'},
                {'name': 'name', 'class': 'col-3'},
                {'name': 'born', 'class': 'col-2', 'type': 'date'},
                {'name': 'death', 'class': 'col-2', 'type': 'date'}
            ],
            page: page,
            limit: limit,
            target: 'app_search',
            type: 'person'
        }) }}
    </div>
{% endblock %}