{% extends 'base.html.twig' %}
{% block body %}
    <div class="container py-4">
        {% if select_name is defined %}
            {% include '/main/search/_result.html.twig' with {
                'search_result': search_result,
                'form': form,
                'page': page,
                'limit': limit,
                'source': source,
                'select_name': select_name,
            } %}
        {% else %}
            {% include '/main/search/_result.html.twig' with {
                'search_result': search_result,
                'form': form,
                'page': page,
                'limit': limit,
                'source': source,
            } %}
        {% endif %}
    </div>
{% endblock %}
