{% extends 'base.html.twig' %}
{% block body %}
    <div class="container py-4">
        <h3 class="text-uppercase">{{ 'GRAVE_ADD'|trans }}</h3>
        <small>{{ 'MARKED_FIELDS_ARE_REQUIRED'|trans }}</small>
        <hr>
        {{ component('grave_add', {
            'form': form,
            'last_uri': uri,
            'submit': 'ADD'|trans
        }) }}
    </div>
{% endblock %}
