{% extends 'base.html.twig' %}
{% block body %}
    <div class="container py-4">
        <h3 class="text-uppercase">Dodawanie edycja danych grobu</h3>
        <small>Pogrubione pola nie mogą być puste!</small>
        <hr>
        {{ component('grave_add', {
            'form': form,
            'last_uri': uri,
            'submit': 'Zmień'
        }) }}
    </div>
{% endblock %}
