{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ component('grave_detail', {
            grave:grave,
            person: person,
            people: people,
            form_add_person: form_add_person,
        }) }}
    </div>
{% endblock %}
