{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% include '/grave/details.html.twig' with {
            'grave':grave,
            'person': person,
            'people': people,
            'form_add_person': form_add_person,
        } %}
    </div>
{% endblock %}
