{% extends 'base.html.twig' %}
{% block body %}
<div class="login-cover">
    <div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                {% if error %}
                    <div class="alert alert-danger mt-4 mx-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Logowanie</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body p-5 pt-0">
                    <form action="{{ path('app_admin_login') }}" method="post">
                        <div class="form-floating mb-3">
                            <input type="email" id="username floatingInput" class="form-control rounded-3" name="_username" value="{{ last_username }}">
                            <label for="username floatingInput">Email:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-3" id="password floatingPassword" name="_password">
                            <label for="password floatingPassword">Hasło</label>
                        </div>
                        <input type="hidden" name="_target_path" value="/">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-secondary" type="submit">Zaloguj się</button>
                        <hr class="my-4">
                        <small class="text-body-secondary">W przypadku utraty hasła, skontaktuj się z administratorem.</small>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
