{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-5 mb-3">
        <h3 class="text-uppercase">Dodawanie nowej osoby do bazy danych</h3>
        <div class="lead mb-4">Uzupełnij dane i naciśnij przycisk "Dodaj"!</div>
        <small>Pogrubione pola należy obowiązkowo uzupełnić!</small>
        {{ component('person_add', {
            form: form,
            submit: 'Dodaj',
            last_uri: uri
        }) }}
    </div>
{% endblock %}
