{% extends 'base.html.twig' %}
{% block body %}

    <div class="container mt-5 mb-3">
        {{ component('person_add', {
            form: form,
            submit: 'Dodaj',
            last_uri: uri
        }) }}
    </div>
{% endblock %}
