{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-5 mb-3">
        <h3 class="text-uppercase">{{ 'PERSON_EDIT'|trans }}</h3>
        <small>{{ 'MARKED_FIELDS_ARE_REQUIRED'|trans }}</small>
        {{ component('person_add', {
            'form': form,
            'id': person.id,
            'submit': 'CHANGE',
            'last_uri': uri,
            'close': close
        }) }}
    </div>
{% endblock %}
