{% extends 'base.html.twig' %}
{% block body %}
    {% if last_uri is defined %}
    {% set uri = last_uri %}
    {% else %}
    {% set uri = '' %}
    {% endif %}
    <div class="container mt-5 mb-3">
        {{ component('person_detail', {
            person: person,
            last_uri: uri
        }) }}
        {{ component('grave_detail', {
            grave:grave,
            person: person,
            form_add_person: form_add_person
        }) }}
    </div>
{% endblock %}
