{% extends 'base.html.twig' %}
{% block body %}
    {% if last_uri is defined %}
        {% set uri = last_uri %}
    {% else %}
        {% set uri = '' %}
    {% endif %}
    <div class="container mt-5 mb-3">
        <div>{{ date|date('Y-m-d') }}</div>
        {{ component('person_add', {
            'form': form,
            'last_uri': uri,
            'submit': 'Zmień'
        }) }}
    </div>
{% endblock %}
