{% extends 'base.html.twig' %}
{% block body %}
    {% if last_uri is defined %}
        {% set uri = last_uri %}
    {% else %}
        {% set uri = '' %}
    {% endif %}
    <div class="container mt-5 mb-3">
        {{ component('person_add', {
            'form': form,
            'id': person.id,
            'last_uri': uri,
            'submit': 'Zmień'
        }) }}
    </div>
{% endblock %}
