<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cmentarze w Rzezawie{% endblock %}</title>
        <link rel="icon" href="{{  asset('build/favicon/favicon.png') }}" sizes="any" type="image/svg+xml">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@40,300,1,0" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include('nav.html.twig') %}
        <main>

            {# return button #}
            {% set uri = null %}
            {% if last_uri is defined %}
                {% set uri = last_uri %}
            {% endif %}
            {# ############### #}

            {# flash messages #}
            {% if app.flashes('success') is defined or app.flashes('failed') is defined %}
                {% include('alerts.html.twig') %}
            {% endif %}
            {# ############### #}

            {% block body %}{% endblock %}
        </main>
        {% include('footer.html.twig') %}
    </body>
</html>
