<footer class="p-2 bg-dark border-top border-secondary border-3 d-flex align-items-end justify-content-end">
    <div class="float-end text-white">
        {{ 'AUTHOR_CREATED'|trans }} RADA PARAFIALNA ©2023
    </div>
</footer>